//*{
//    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
//}
.contenedor{
    width: 100vw !important;
    //display: flex;
    //background: red;
    //flex-wrap: wrap;
    //flex-direction: column;
}
//
.columna{
    margin-right: 1em;
    //width: 155px;
    display: inline-block;
    .titulo{
        margin: 0;
        font-weight: bold;
        font-size: 1em;

    }

    .descripcion{
        margin: 0;
        color:#157786;
        font-size: 1.3em;

    }
}
